@use 'variables' as * ;

html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    font-size: 1.6rem;
    font-family: $fontMain;
    line-height: 1.5;
}
.container{
    max-width: 140rem;
    width:95%;
    margin:0 auto;
}
a{
    text-decoration: none;
}
li,ul{
    list-style: none;
    margin:0;
    padding:0;
}
img{
    max-width: 100%;
    display: block;
}
h1,h2,h3{
    margin: 0 0 $separation 0;
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size:2.5rem;
}