@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* FUENTE PRINCIPAL */
$fontMain :'Poppins', sans-serif;

/* MEDIA QUERIES */
$cellphone : 380px;
$tablet:  769px;
$tabletMax: 769px;
$desktop: 1024px;

/* SEPARATION */
$separation : 5rem;

/* COLORS */

$colorMain: #e8505b;
$secondColor: #455a64;
$blackColor:#000000;
$whiteColor:#ffffff;
$greyColor: #eceeef;